.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background-color: white;

}

.nav-left {
    display: flex;
    align-items: center;
    gap: 40px;  /* space between logo and links */
}

.nav-logo {
    width: 200px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;   /* spacing between Add / List */
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #626262;
    font-size: 18px;
    font-weight: 500;
}

.nav-links li a:hover {
    color: #000;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right button {
    width:157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;

}
.disabled-link {
  color: #aaa;
  cursor: not-allowed;
  font-size: 18px;
  font-weight: 500;
}

